body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: grid;
    place-items: center;
    height: 100vh;
  }

  
/* MAHER - PONTOS POR PRODUTOS */
.centralizada {
    background-color: rgba(158, 249, 110, 0.23);
    border-radius: 36px;
    padding: 48px 32px 32px 32px;
    display: flex;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
  
.conteudo {
    text-align: left;
    flex: 1;
}
  
.conteudo h1 {
    color: #003224;
    font-size: 42px;
    margin-bottom: 20px;
}
  
.conteudo p {
    color: #505050;
    font-size: 18px;
    margin-bottom: 30px;
}
  
.conteudo .btn {
    font-size: 18px;
    padding: 14px 24px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.btn-comecar {
    background-color: #9EF96E;
    color: #246035;
    border: none;
}
  
.btn-lista {
    background-color: transparent;
    border: 1px solid #246035;
    color: #246035;
}
  
.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.imagem img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}
  
.recompensas {
    margin-top: 76px;
    text-align: center;
    width: 100%;
}
  
.recompensas h2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 40px;
}
  
.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
  
.card {
    background-color: #fff;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    width: 200px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-name, .card-info, .card-price {
    margin-left: 10px;
}

.card-name {
    font-size: 16px;
    font-weight: bold;
    color: #003224;
    margin-top: 20px;
    width: 80%;
}

.card-info {
    color: #003224;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

.card-price-label {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: normal;
}
  
.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #003224;
    display: block;
    margin-top: 5px; 
}


/* MAHER - COMECE HOJE MESMO A SOMAR PONTOS */
.tit-somarPontos {
    color: #003224;
    margin: 120px 0px 0px 360px;
    width: 25%;
    font-size: 50px;
}

.realizarCadastro {
    background-color: #9EF96E;
    width: 50%;
    padding: 32px;
    border-radius: 30px;
    margin: 40px;
}

.realizarCadastro button{
    color: #9EF96E;
    background-color: #246035;
    border: none;
    padding: 14px;
    border-radius: 30px;
    text-decoration: none;
}

.realizarCadastro p{
    font-size: 1.3rem;
    color: #246035;
}

.blocos {
    display: flex;
}


/* TRAICY - CLUBE DE BENEFCIOS */

.btncadastro {
    color: black;
    font-size: 0.875rem;
    border: none;
    font-weight: 400;
    word-wrap: break-word;
    text-decoration: none;
}
.containerbtn {
    width: 169px;
    height: 40px;
    background-color: white;
    padding-left: 26px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 10px;
    border-radius: 30px;
}

.containerclube {
    width: 322px;
    height: 60px;
    background-color: #9EF96E;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius:20px;
}

.clube {
    color: #246035;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.entrada {
    color: white;
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 54px;
    word-wrap: break-word;

}

.bannerclubebeneficios {
    background-image: url(../images/montanha.png);
    margin: 4px;
}

.clubebeneficios {
    display: flex;
}

/* TRAICY - FOOTER */


.containerfooter {
    width: 222vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.containerfooter1 {
    width: 100%;
    height: 412px;
    background: #003224;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.containerverde {
    width: 51.01px;
    height: 50.88px;
    position: relative;
}

.tomadaverde {
    width: 51.01px;
    height: 50.88px;    
    position: absolute;
}

.containericons1 {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containericons2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.containericons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.icon {
    width: 18px;
    height: 18px;
    position: relative;
}

.footer-text {
    text-align: center;
    color: #FAF8FF;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    word-wrap: break-word;
}

/* Responsividade */
@media (max-width: 768px) {
    .containerfooter1 {
        height: 300px;
    }

    .containericons1 {
        height: 50px;
    }

    .icon {
        width: 14px;
        height: 14px;
    }

    .footer-text {      
        font-size: 10px;
    }
}


