body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Mona Sans', sans-serif;
}

/* Daniel */
.btn-primary {
    background-color: #9EF96E;
    color: #246035;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
}

.btn-outline-light {
    background-color: transparent;
    border: 1px solid #9EF96E;
    color: #9EF96E;
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
}

.navbar-ecodotz {
    background-color: #246035 !important;
    padding: 0.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.section-como-acumular {
    margin: 5rem;
}

.display-small {
    font-family: "Mona Sans";
    color: #003224;
    font-size: 2.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 2.4375rem */
    letter-spacing: -0.04875rem;
}

.cards-como-acumular {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;

}

.card-como-acumular {
    display: flex;
    max-width: 18rem;
    flex-direction: column;
    align-items: flex-start;
}

.card-title-descricao {
    display: flex;
    padding: 1rem 1rem 1.5rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    align-self: stretch;
}

.title-medium {
    font-family: "Mona Sans";
    color: #246035;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 1.8rem */
}

.body {
    font-family: "Mona Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 1.5rem */
}

.img-card-como-acumular {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Hero-Emanuel */
.containerhero {
    width: 100%;
    display: flex;
    padding-left: 6.25rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 2.75rem;
    border-radius: 0rem 0rem 6.25rem 6.25rem;
    background: var(--primary-green, #9EF96E);
}

.text-content h1 {
    color: var(--darkest-green, #003224);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 4rem */
    letter-spacing: -0.16rem;
}

.text-content p {
    color: var(--dark-green, #246035);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 1rem */
    text-transform: uppercase;
}

.text-content h3 {
    color: var(--darkest-green, #003224);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 1.875rem */
}

.text-content button {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--Color, #FFF);
}

.image-content img {
    width: 35.6875rem;
    height: 39.625rem;
    border-radius: 0rem 0rem 6.25rem 0rem;
}


/* MAHER - PONTOS POR PRODUTOS */
.centralizada {
    background-color: rgba(158, 249, 110, 0.23);
    border-radius: 36px;
    padding: 48px 32px 32px 32px;
    display: flex;
    gap: 30px;
    max-width: 1500px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-bottom: 120px;
}

.conteudo {
    text-align: left;
    flex: 1;
}

.conteudo h1 {
    color: #003224;
    font-size: 42px;
    margin-bottom: 20px;
}

.conteudo p {
    color: #505050;
    font-size: 18px;
    margin-bottom: 30px;
}

.conteudo .btn {
    font-size: 18px;
    padding: 14px 24px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-comecar {
    background-color: #9EF96E;
    color: #246035;
    border: none;
}

.btn-lista {
    background-color: transparent;
    border: 1px solid #246035;
    color: #246035;
}

.imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.imagem img {
    width: 60%;
    height: auto;
}

.recompensas {
    margin-top: 76px;
    text-align: center;
    width: 100%;
}

.recompensas h2 {
    color: #000000;
    font-size: 32px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    width: 210px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-name,
.card-info,
.card-price {
    margin-left: 10px;
}

.card-name {
    font-size: 16px;
    font-weight: bold;
    color: #003224;
    margin-top: 20px;
    width: 80%;
}

.card-info {
    color: #003224;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

.card-price-label {
    color: #8E8E8E;
    font-size: 14px;
    font-weight: normal;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #003224;
    display: block;
    margin-top: 5px;
}


/* MAHER - COMECE HOJE MESMO A SOMAR PONTOS */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  
  .left-side {
    width: 50%;
  }
  
  .right-side {
    width: 50%;
  }
  
  .section-title {
    text-align: left;
    font-style: bold;
    font-size: 42px;
    color: #003224;
    margin-bottom: 20px;
    width: 450px;

  }
  
  .content-box {
    background-color: #9EF96E;
    border-radius: 30px;
    padding: 60px;
    color: #003224;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content-box p {
    font-size: 16px;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
  }
  
  .emoji {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .signup-btn {
    background-color: #246035;
    color: #9EF96E;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    width: 180px;
    margin: 20px auto 0;
    display: block;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #1e4a2c;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

}
  
  .right-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin-bottom: 16px;
    border-radius: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 17px;
}

.card-left {
    display: flex;
    align-items: center;
}

.card-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 20px;
    color: #246035;
}

.product-code {
    font-size: 15px;
    color: #8E8E8E;
}

.card-value {
    font-size: 16px;
    color: #246035;
    border: 1px solid #246035;
    padding: 10px 12px;
    border-radius: 40px;
}

.promotion-text {
    font-size: 20px;
    color: #000000;
    width: 60%;
}

.apply-btn {
    background-color: #246035;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.promotion-card {
    background-color: #E5F1DF;
}

.gift-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}


/* TRAICY - CLUBE DE BENEFICIOS */
.containerclube {
    width: 80%;
    height: 53.13rem;
    padding: 3.13rem 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: url(../images/montanha.png);
    border-radius: 3.125rem;
    background-size: cover;
    margin-top: 120px;
}

.containerclube1 {
    width: 5.31rem;
    height: 5.31rem;
    position: relative;
}

.tomadaverde1 {
    width: 5.31rem;
    height: 5.31rem;
    position: absolute;
}

.clubebeneficios {
    width: 100%;
    height: 20.19rem;
    display: flex;
    flex-direction: column;
    gap: 2.56rem;
}

.clubebeneficios1 {
    padding: 0.50rem 0.25rem;
    background: #9EF96E;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.clube-beneficios {
    color: #246035;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.entrada-vip {
    width: 42.81rem;
    font-size: 2.94rem;
    font-weight: 600;
    color: #FAF8FF;
    line-height: 1.2;
}

.cadastrofooter {
    padding: 0.625rem 1.5rem;
    background: white;
    border-radius: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.realizar-cadastro {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}


/* TRAICY - FOOTER */
.footer {
    background-color: #003224;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 100%;
    margin-top: 120px;
  }
  
  .footer-logo {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  .footer-text {
    font-size: 14px;
    margin-top: 10px;
  }
  
  